<nav>
	<ul class="menu">
		<li class="active">
			<div id="song-en-menu"></div>
			<a href="#" id="song-chs-menu"></a>
		</li>
		<li class="divider"></li>
		<li class="active">
			<div id="poem-en-menu"></div>
			<a href="#" id="poem-chs-menu"></a>
		</li>
		<li class="divider"></li>
		<li class="active">
			<div id="photo-en-menu"></div>
			<a href="#" id="photo-chs-menu"></a>
		</li>
		<li class="divider"></li>
		<li class="active">
			<div id="design-en-menu"></div>
			<a href="#" id="design-chs-menu"></a>
		</li>
	</ul>
</nav>