<div class="container">
<%= render 'menu', :opt => "music", :song => "live"%>
<div class="row music-header visible-xs">
<a href="<%= song_path %>" class="back-to-text pull-right" >返回上页</a>
<div class="live-info-img"></div>
</div>
<ul class="live-info-list">
	<li><span class="live-date">2014.11.29</span> “诗遇上歌”——程璧新专辑全国巡演上海站<br /> 地点：中国上海 民生美术馆</li>
	<li><span class="live-date">2014.11.15</span> 中信年度作者颁奖晚宴特别演出嘉宾<br /> 地点：中国北京</li>
	<li><span class="live-date">2014.11.13</span> 2014“诗遇上歌”——程璧新专辑全国巡演长沙站<br /> 地点：中国长沙 红咖LIVE HOUSE</li>
	<li><span class="live-date">2014.11.9</span> “诗遇上歌”——程璧新专辑全国巡演北京站<br /> 地点：西区剧场</li>
	<li><span class="live-date">2014.10.5</span> 2014“诗遇上歌”——程璧新专辑全国巡演杭州站<br /> 地点：中国杭州 舒羽咖啡馆</li>
	<li><span class="live-date">2014.8.15</span> 2014新专辑《诗遇上歌》首发签售会<br /> 地点：中国北京 1901CAFE</li>
	<li><span class="live-date">2014.8.7</span> 2014新专辑《诗遇上歌》试听发布会<br /> 地点：中国北京 单向街图书馆</li>
	<li><span class="live-date">2014.3.20</span> TOKYO LIVE<br /> 地点：东京 涩谷 喫茶スマイル</li>
	<li><span class="live-date">2014.3.13</span> NHK节目录制，会演唱我的原创歌曲</li>
	<li><span class="live-date">2014.2.18</span> 优酷直播间 程璧初春音乐会</li>
	<li><span class="live-date">2013.10.20</span> CCTV“寻找刘三姐”音乐节目决赛现场，发表个人最新单曲及该节目主题曲与片尾曲《心想唱歌就唱歌》</li>
	<li><span class="live-date">2013.10.5</span> CCTV“寻找刘三姐”音乐节目录制</li>
    <li><span class="live-date">2013.9.14</span> 扬子晚报声色达人版专访</li>
    <li><span class="live-date">2013.8.27</span> 第二张个人原创音乐专辑筹备开始</li>   
    <li><span class="live-date">2013.7.30</span> 新歌Demo采样录制</li>   
    <li><span class="live-date">2013.6.30</span> 東京渋谷喫茶スマイル音乐现场<br />地点：東京都渋谷区宇田川町11-11</li>   
    <li><span class="live-date">2013.6.14</span> 【Blue Moon Jam Vol.33】LIVE<br />地点：ストロボカフェ LIVE HOUSE<br />東京都北参道渋谷区千駄ヶ谷4-3-10</li>   
    <li><span class="live-date">2013.6.9</span> 東京新宿 NAVI CAFÉ 音乐现场<br /> 地点：東京都新宿区西新宿7-22-31</li>   
    <li><span class="live-date">2013.5.28</span> SONGLINES LIVEHOUSE 音乐现场<br /> 地点：東京都渋谷区宇田川町41-29</li>   
    <li><span class="live-date">2013.5.19</span> CABOTTE WINE BAR 音乐现场 <br /> 地点：東京都渋谷区桜丘町12-5</li>   
    <li><span class="live-date">2013.4.14</span> SONGLINES LIVEHOUSE 音乐现场 <br /> 地点：東京都渋谷区宇田川町41-29</li>
    <li><span class="live-date">2013.1.27</span> SONGLINES LIVEHOUSE 音乐现场 <br /> 地点：東京都渋谷区宇田川町41-29</li>   
    <li><span class="live-date">2013.1.9</span> 南青山【ASIAN NIGHT】LIVE <br />地点：月見ル君思ウ LIVE HOUSE <br />東京都港区南青山4-9-1 </li> 
    <li><span class="live-date">2012.12.13</span> Blue Moon Jam Vol.27】LIVE <br />地点： ストロボカフェ LIVE HOUSE <br />東京都北参道渋谷区千駄ヶ谷4-3-10 </li>
    <li><span class="live-date">2012.11.1</span> 【Tokyo Late Night Live Show】<br />地点：SARAVAH LIVE HOUSE <br />東京都渋谷区松濤1丁目29-1 </li> 
    <li><span class="live-date">2012.9.26</span> 原创音乐作品《一个人上路》视频 <br /> 获优酷音乐牛人首页推荐 </li>
    <li><span class="live-date">2012.9.16</span> 程璧首张原创音乐专辑《晴日共剪窗》公开预售及首发现场 <br />地点：陆玖印象音乐咖啡馆 <br />北京东城区南锣鼓巷109号院 </li>
    <li><span class="live-date">2012.7.7</span> 程璧木吉他音乐会<br />地点：陆玖印象音乐咖啡馆<br /> 北京东城区南锣鼓巷109号院</li>
</ul>
</div>
