<div class="container">
<%= render 'menu'%>
<div class="anna-guitar-img"><img src="<%= image_path("anna-guitar.jpg")%>" class = "img-responsive" ></div>
<div class="row music-index-link">
	<div class="col-xs-6"><a href="#" class="music-new-link"></a></div>
	<div class="col-xs-6"><a href="#" class="music-album-link"></a></div>
</div>
<div class="row music-index-link">
	<div class="col-xs-6"><a href="#" class="music-live-link"></a></div>
	<div class="col-xs-6"><a href="#" class="music-interview-link"></a></div>
</div>
<div class="row">
	<div class="music-about-img"></div>
	<div class="music-about-text">
	小时候我和祖母在一个小院一起生活，<br /> 
	那里是我创作的最初灵感来源。<br /> 
	每年年末，祖母都会裁一匹薄纸，<br />
	挑选不同的花色，教我剪几样窗花。<br />
	十几岁时，<br />
	我写了一首诗来描述儿时小院的模样，<br />
	“庭前花木满，院外小径芳，<br />
	四时常相往，晴日共剪窗。”<br />
	后来到了二十几岁，<br />
	我以小院里的童年记忆为题材，<br />
	写了一首童谣小曲，<br />
	取名就叫做“晴日共剪窗”。
	</div>
</div>
</div>