<div class="container">
<%= render 'menu'%>
<div class="anna-guitar-img"><img src="<%= image_path("anna-guitar.jpg")%>" class = "img-responsive" ></div>
<div class="row music-index-link">
	<div class="col-xs-6"><a href="#" class="music-new-link"></a></div>
	<div class="col-xs-6"><a href="<%= album_song_path(@album, @album.songs.first)%>" class="music-album-link"></a></div>
</div>
<div class="row music-index-link">
	<div class="col-xs-6"><a href="#" class="music-live-link"></a></div>
	<div class="col-xs-6"><a href="#" class="music-interview-link"></a></div>
</div>
<div class="row">
	<div class="music-about-img"></div>
	<div class="music-about-text"><%= simple_format @album.info %></div>
</div>
</div>