<div class="container">
<div class="content">
	<div class="row"><div id="logo-img"></div></div>
	<div class="row"><div id="chengbi-img" class="pull-right"></div></div>
</div>	
<div class="content">
	你看到的我，是在走过很多风景后，发现最美的是平常。<br />
	懂得人生终将告别后，用一期一会去遇见.<br />
	所以你觉得明亮、温暖，那是我的方式，来对待这个世界。
</div>
<div class="content">
	<div class="row"><div id="anna-1-img"></div></div>
</div>

</div>
</div>
