<div class="container">
<div class="content">
	<div class="row"><div id="logo-img"></div></div>
	<div class="row"><div id="chengbi-img" class="pull-right"></div></div>
</div>	
<div class="content">
	你看到的我，是在走过很多风景后，发现最美的是平常。<br />
	懂得人生终将告别后，用一期一会去遇见.<br />
	所以你觉得明亮、温暖，那是我的方式，来对待这个世界。
</div>
<div class="content">
	<div class="row"><div id="anna-1-img"></div></div>
</div>
<nav>
	<ul class="menu">
		<li class="active">
			<div id="song-en-menu"></div>
			<a href="#" id="song-chs-menu"></a>
		</li>
		<li class="divider"></li>
		<li class="active">
			<div id="poem-en-menu"></div>
			<a href="#" id="poem-chs-menu"></a>
		</li>
		<li class="divider"></li>
		<li class="active">
			<div id="photo-en-menu"></div>
			<a href="#" id="photo-chs-menu"></a>
		</li>
		<li class="divider"></li>
		<li class="active">
			<div id="design-en-menu"></div>
			<a href="#" id="design-chs-menu"></a>
		</li>
	</ul>
</nav>
<div class="content">
<div class="row"><div id="profile-img"></div></div>
程璧，毕业于北京大学外文系，<br />
现居东京，工作于原研哉设计研究所，<br />
独立从事音乐创作与写作，喜爱相机散步
</div>
</div>