<div class="container">
<div class="content">
	<div id="logo-img"></div>
	<div id="chengbi-img" class="pull-right"></div>
</div>	
<div class="content">
	你看到的我，是在走过很多风景后，发现最美的是平常。<br />
	懂得人生终将告别后，用一期一会去遇见.<br />
	所以你觉得明亮、温暖，那是我的方式，来对待这个世界。
</div>
<div class="content">
	<div class="row"><div id="anna-1-img"></div></div>
</div>
<%= render "menu", :opt => 'all'%>
<div class="content">
<div class="row"><div id="profile-img"></div></div>
程璧，毕业于北京大学外文系，<br />
喜爱民谣与创作，大学起开始学习作曲。<br />
2012年获北京大学十佳歌手称号，<br />
发表个人首张原创音乐专辑《晴日共剪窗》。<br />
现居东京工作于日本设计中心原研哉设计研究所，<br />
带着一把古典吉他在东京LIVE HOUSE自弹自唱，<br />
独立从事音乐创作与写作。
</div>
</div>