<div class="container">
<%= render 'menu', :opt => "music"%>
<div class="vedio-info-index">
	<div class="vedio-info-item">
	程璧木吉他音乐会演唱创作单曲《晴日共剪窗》<br />
	时间：2012年7月<br />
	地点：北京南锣鼓巷 陆玖音乐咖啡馆<br />
	<a href="http://v.youku.com/v_show/id_XNDQ4ODg2ODEy.html" class="vedio-info-link">点击观看<span class="left-arrow"></span></a>
	<div class="vedio-info-image"><img src="http://annapatio-photo.b0.upaiyun.com/home/anna-vedio-5.jpg!mobile" class="img-responsive" /></div>
	</div>
	
	<div class="vedio-info-item">
	中日文化节演唱《Daydream believer》<br />
	时间：2012年7月<br />
	地点：北京大学百年纪念讲堂音乐厅<br />
	<a href="http://v.youku.com/v_show/id_XMzI3MDI5NDEy.html" class="vedio-info-link">点击观看<span class="left-arrow"></span></a>
	<div class="vedio-info-image"><img src="http://annapatio-photo.b0.upaiyun.com/home/anna-vedio-4.jpg!mobile" class="img-responsive" /></div>
	</div>
	
	<div class="vedio-info-item">
	相机生活北京小分队春游即兴《青椒肉丝》<br />
	时间：2012年5月<br />
	地点：北京 郊外<br />
	<a href="http://v.youku.com/v_show/id_XNDEyNzI0MDk2.html" class="vedio-info-link">点击观看<span class="left-arrow"></span></a>
	<div class="vedio-info-image"><img src="http://annapatio-photo.b0.upaiyun.com/home/anna-vedio-3.jpg!mobile" class="img-responsive" /></div>
	</div>
	 
	<div class="vedio-info-item">
	十佳歌手决赛现场《晴日共剪窗》（片段）<br />
	时间：2012年4月<br />
	地点：北京大学邱德拔体育馆<br />
	<a href="http://v.youku.com/v_show/id_XMzY5ODYzOTI4.html" class="vedio-info-link">点击观看<span class="left-arrow"></span></a>
	<div class="vedio-info-image"><img src="http://annapatio-photo.b0.upaiyun.com/home/anna-vedio-2.jpg!mobile" class="img-responsive" /></div>
	</div>

	<div class="vedio-info-item">
	十佳歌手初赛现场《雨过天晴》<br />
	时间：2012年2月<br />
	地点：北京大学图书馆南配殿<br />
	<a href="http://www.tudou.com/programs/view/tEhyH4iQ4Zo" class="vedio-info-link">点击观看<span class="left-arrow"></span></a>
	<div class="vedio-info-image"><img src="http://annapatio-photo.b0.upaiyun.com/home/anna-vedio-1.jpg!mobile" class="img-responsive" /></div>
	</div>
</div>
</div>
