// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.content {
  line-height: 1.8;
  margin: 15px auto;
  font-weight: bold;
}

div.content.header {
  font-size: 13px;
  padding-left: 3px;
}

div.content.gallery {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: -15px;
  margin-right: -15px;
}

div.content.info {
  font-size: 13px;
  padding-left: 3px;
  margin-bottom: 25px;
}

div.footer {
  font-weight: bold;
  font-size: 11px;
  line-height: 1.75;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #FFF;
}

div.footer-img {
  background-image: image-url('home-banner.png');
  background-size: 181px 43px;
  height: 43px;
  width: 181px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  margin: 38px auto;
}

a.go-top-img {
  background-image: image-url('go-top.png');
  background-size: 48px 10px;
  height: 10px;
  width: 48px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  margin-top: 17px;
  margin-right: 2px;
  margin-bottom: 15px;
}

ul.menu {
  list-style: none outside none;
  padding: 0 5px;
  margin: 15px auto 0px auto;
  text-align: center;
}

ul.menu > li {
  display: inline-block;
  position: relative;
  text-align: center;
}

ul.menu li.divider {
  height: 15px;
  width: 0px;
  border-left: #DDD solid 1px;
  margin: 15px 13px;
}

ul.menu li.divider.active {
  border-left: #000 solid 1px;
}

ul.menu > li > a {
  display: block;
  position: relative;
  margin: 15px auto;
}

ul.menu > li > div {
  display: block;
  position: relative;
  margin: 0 auto;
}

ul.menu > li > div.song-en-menu {
  background-image: image-url('song-en-menu-disable.png');
  background-size: 26px 6px;
  height: 6px;
  width: 26px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

ul.menu > li > div.song-en-menu.active {
  background-image: image-url('song-en-menu.png');
}

ul.menu > li > a.song-chs-menu {
  background-image: image-url('song-chs-menu-disable.png');
  background-size: 15px 15px;
  height: 15px;
  width: 15px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

ul.menu > li > a.song-chs-menu.active {
  background-image: image-url('song-chs-menu.png');
}

ul.menu > li > div.poem-en-menu {
  background-image: image-url('poem-en-menu-disable.png');
  background-size: 70px 6px;
  height: 6px;
  width: 70px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

ul.menu > li > div.poem-en-menu.active {
  background-image: image-url('poem-en-menu.png');
}

ul.menu > li > a.poem-chs-menu {
  background-image: image-url('poem-chs-menu-disable.png');
  background-size: 60px 14px;
  height: 14px;
  width: 60px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

ul.menu > li > a.poem-chs-menu.active {
  background-image: image-url('poem-chs-menu.png');
}

ul.menu > li > div.photo-en-menu {
  background-image: image-url('photo-en-menu-disable.png');
  background-size: 32px 6px;
  height: 6px;
  width: 32px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

ul.menu > li > div.photo-en-menu.active {
  background-image: image-url('photo-en-menu.png');
}

ul.menu > li > a.photo-chs-menu {
  background-image: image-url('photo-chs-menu-disable.png');
  background-size: 30px 14px;
  height: 14px;
  width: 30px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

ul.menu > li > a.photo-chs-menu.active {
  background-image: image-url('photo-chs-menu.png');
}

ul.menu > li > div.design-en-menu {
  background-image: image-url('design-en-menu-disable.png');
  background-size: 36px 6px;
  height: 6px;
  width: 36px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

ul.menu > li > div.design-en-menu.active {
  background-image: image-url('design-en-menu.png');
}

ul.menu > li > a.design-chs-menu {
  background-image: image-url('design-chs-menu-disable.png');
  background-size: 30px 14px;
  height: 14px;
  width: 30px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

ul.menu > li > a.design-chs-menu.active {
  background-image: image-url('design-chs-menu.png');
}


#logo-img {
  background-image: image-url('logo.png');
  background-size: 167px 30px;
  height: 30px;
  width: 167px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 25px;
  margin-top: 10px;
}

#chengbi-img {
  background-image: image-url('chengbi.png');
  background-size: 42px 17px;
  height: 17px;
  width: 42px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 15px;
  margin-top: 20px;
}

#profile-img {
  background-image: image-url('profile.png');
  background-size: 40px 12px;
  height: 12px;
  width: 40px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  margin-left: 0;
  margin-bottom: 10px;
  margin-top: -10px;
}

#anna-1-img {
  background-image: image-url('anna-1.png');
  background-size: 320px 212px;
  height: 212px;
  width: 320px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

@media only screen and (min-width: 767px) {
  div.content {
    margin-left: auto;
    margin-right: auto;
  }
  
  div.row {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  div.header-bar {
    margin-top: 30px;
  }
  
  div.header-text {
    padding: 5px;
  }
  
  ul.menu {
    padding-right: 40px;
  }
  
  #logo-img {
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 40px;
  }
  
  #chengbi-img {
    margin-top: 35px;
    margin-right: 10px;
  }
  
  div.intro-text {
    font-size: 11.4px;
    font-weight: bold;
    padding: 0 0;
    margin-top: 60px;
    line-height: 1.75;
    width: 72%;
  }
  
  div.profile-text {
    font-size: 9.2px;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 0;
    margin-bottom: 35px;
    line-height: 1.75;
    width: 28%;
  }
  
  #profile-img {
    margin-left: 0;
  }
  
  div.copyright {
    margin: 40px auto 20px;
    color: #AAA;
    text-align: center;
    font-size: 13px;
  }
    
}

@media only screen and (min-width: 769px) {
  #logo-img {
    margin-left: -15px;
  }
  
  #chengbi-img {
    margin-right: -10px;
  }
  
  div.header-text {
    padding: 0;
  }
}
