fieldset.edit-form {
  margin: 15px 15px;
}

a.return-to-index {
  margin-right: 15px;
  color: #000;
}

div.poem-index-img {
  background-image: image-url('poem-index.png');
  background-size: 51px 14px;
  height: 14px;
  width: 51px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  margin: 15px auto;
}

ul.poem-index-title {
  list-style: none outside none;
  text-align: center;
  padding: 0 0;
  line-height: 2.5;
  font-weight: bold;
  margin: 10px auto;
}

ul.poem-index-title > li > a {
  color: #000;
  font-weight: bold;
  font-size: 15px;
}

div.poem-content {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 30px;
  line-height: 1.75;
  padding: 0 65px;
  font-size: 15px;
}

div.poem-content span.poem-body > p {
  margin-bottom: 20px;
}

div.poem-content.essay {
  padding: 0 25px;
}

div.poem-content.essay span.poem-body > p {
  text-align: justify;
  margin-bottom: 10px;
}

h4.poem-title {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 30px;
}

div.prev-poem {
  margin-left: 15px;
  margin-bottom: 15px;
  display: inline-block;
}

div.prev-poem > a {
  color: #000;
}

div.next-poem {
  margin-right: 15px;
  margin-bottom: 15px;
  display: inline-block;
}

div.next-poem > a {
  color: #000;
}

div.pagination {
  margin-top: -10px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

ul.pagination {
  border: none;
  margin: 15px 0;
}

ul.pagination > li > a {
  border: none;
  color: #999;
  background-color: #f2f1f1;
  padding: 6px;
}

ul.pagination > li.active > a {
  color: #000;
  background-color: #f2f1f1;
}

ul.pagination > li.prev > a {
  margin-right: 20px;
}

ul.pagination > li.next > a {
  margin-left: 20px;
}

ul.pagination > li.disabled > a {
  background-color: #f2f1f1;
}

ul.pagination > li.disabled > a:hover {
  background-color: #f2f1f1;
}

ul.pagination > li.active > a:hover {
  background-color: #f2f1f1;
  color: #000;
}

ul.pagination > li.prev.previous_page {
  left: 30px;
  position: absolute;
}

ul.pagination > li.prev.previous_page > a {
  background-image: image-url('left-song.png');
  background-size: 16px 10px;
  height: 10px;
  width: 16px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  font: 0px/0 a;
  margin-top: 12px;
}

ul.pagination > li.next.next_page {
  right: 30px;
  position: absolute;
}

ul.pagination > li.next.next_page > a {
  background-image: image-url('right-song.png');
  background-size: 16px 10px;
  height: 10px;
  width: 16px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  font: 0px/0 a;
  margin-top: 12px;
}

@media only screen and (min-width: 700px) {
  ul.pagination > li.prev.previous_page {
    position: static;
  }
  
  ul.pagination > li.next.next_page {
    position: static;
  }
  
  div.poem-content {
    padding: 0 220px;
  }
}
