<xml>
    <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
    <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
    <CreateTime><%= Time.now.to_i %></CreateTime>
    <MsgType><![CDATA[music]]></MsgType>
 	<Music>
 		<Title><![CDATA[我的内心是满的]]></Title>
 		<Description><![CDATA[程璧]]></Description>
 		<MusicUrl><![CDATA[http://annapatio-file.b0.upaiyun.com/sounds/%E6%88%91%E7%9A%84%E5%86%85%E5%BF%83%E6%98%AF%E6%BB%A1%E7%9A%84-1.mp3]]></MusicUrl>
 		<HQMusicUrl><![CDATA[http://annapatio-file.b0.upaiyun.com/sounds/%E6%88%91%E7%9A%84%E5%86%85%E5%BF%83%E6%98%AF%E6%BB%A1%E7%9A%84-1.mp3]]></HQMusicUrl>
 	</Music>
    <FuncFlag>0</FuncFlag>
</xml>